
	<div class="modal-header col-md-12">	
    	<div class="modal-title col-md-10">
    		ToDoApp
    	</div>  
    	<div class="col-md-2" style="padding-top:10px">
    		 <i class="fa fa-times fa-2x" aria-hidden="true"  style="color:white" ng-click="ok($event)"></i>	
    	</div>
    	
	</div>

<!-- 
<div class="modal-body light-blue">
  <div class="fixed font-main font-white" id="roll">Look i'm in aside.</div>
</div>

<div class="modal-body tirquise-light" ng-click="navigateImageUpload()">
  <div class="fixed font-main font-white">Image upload</div>
</div>

<div class="modal-body light-green" ng-click="navigateMail()">
  <div class="fixed font-main font-white" id="roll">Send email</div>
</div>

<div class="modal-body light-yellow" ng-click="navigateHome()">
  <div class="fixed font-main font-white" id="roll">Home</div>
</div>

<div class="modal-body light-red" ng-click="navigateExample()">
  <div class="fixed font-white font-main" id="roll">Example</div>
</div>

<div class="modal-body light-pink" ng-click="navigateTodos()">
  <div class="fixed font-main font-white" id="roll">Todos</div>
</div> -->


<!-- <div class="nav nav-pills fixed font-main font-white" ng-click="navigateImageUpload()">
  Image upload
</div>

<div class=" nav nav-pills fixed font-main font-white" ng-click="navigateMail()">
	Send email
</div>

<div class="nav nav-pills fixed font-main font-white" ng-click="navigateHome()">
	Home
</div>

<div class="nav nav-pills fixed font-main font-white " ng-click="navigateExample()">
	Example
</div>

<div class="nav nav-pills fixed font-main font-white" ng-click="navigateTodos()">
	Todos
</div> -->
<ul class="nav nav-pills nav-stacked col-md-12">
  <li role="presentation" ><a ng-click="navigateImageUpload()" class="font-white">Image upload</a></li>
  <li role="presentation" ><a ng-click="navigateMail()" class="font-white">Send email</a></li>
  <li role="presentation" ><a ng-click="navigateHome()" class="font-white">Home</a></li>
  <li role="presentation" ><a ng-click="navigateExample()" class="font-white">Calendar</a></li>
  <li role="presentation" ><a ng-click="navigateTodos()" class="font-white">Todos</a></li>
</ul>

<div class="modal-footer col-md-12">

    
	<i class="fa fa-sign-out fa-2x" aria-hidden="true" style="color:white" ng-click="logout()"></i>

</div>