

<div class="jumbotron panel panel-default grey overlay">
        <h2 class="prisma font-white">Login form</h2>
        <div class="row page-content">
            <div class="row control-group">
                <div class="font-white">
                    <label for="userName">User Name </label>
                </div>
                <div>
                    <input class="form-control col-md-5" type="text" name="userName" ng-model="userName" />
                </div>
            </div>
            <div class="row control-group">
                <div class="font-white">
                    <label for="password">Password</label>
                </div>
                <div>
                    <input class="form-control col-md-5" type="password" name="password" ng-model="password" />
                </div>
            </div>
            <div class="row control-group">
                <div class="col-md-4">
                    <button class="btn btn-default btn-pink" ng-click="login()">Login</button>
                </div>
                <div class="col-md-4">
                    <button ng-click="cancel()" class="btn btn-link font-white btn-pink">Cancel</button>
                </div>
            </div>
        </div>
</div>