@font-face { font-family: Prisma; src: url('fonts/Prisma.ttf'); } 
body {
  margin-top: 30px!important;
  background-color:  #EFE2E2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#EFE2E2, #A9A9A9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left,#EFE2E2, #A9A9A9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left,#EFE2E2, #A9A9A9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left,#EFE2E2, #A9A9A9); /* Standard syntax */
}

.font-main{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
font-weight: 500!important;
font-size: initial;
margin-left: 0px;
margin-top: 12px;
}

.list{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
}
.li{
  list-style-type: none;
}
/*added for checkbox*/
label {
  display: inline;
}
.panel-invisible{
  box-shadow:none!important;

}
.task-text{
    margin-left: 50px;
    font-size:30px;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
 /* position: relative;*/
  position: absolute;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  border-radius: 20px;
  background-color: #e9ecee;
  border: 0px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2718';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}


.big-checkbox + label {
  border-radius: 20px;
  padding: 18px;
}

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}

.radio-1 {
  width: 193px;
}

.button-holder {
  float: left;
}

/* RADIO */

.regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;

}

.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #99a1a7;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
  text-shadow: 0px;
  left: 3px;
  font-size: 32px;
}

.regular-radio:checked + label {
  background-color: #e9ecee;
  color: #99a1a7;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
  padding: 16px;
}

.big-radio:checked + label:after {
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px;
}
This version of t
/**/

.task-name{
  margin-bottom: 20px;
}

.btn{
  margin-bottom: 30px!important;

}
#downloadbtn {
  margin-bottom: 10px;
}

.about-links {
  color: #95a5a6;
}
.about-links a {
  border-bottom: 1px dotted;
  text-decoration: none;
  margin-right: 15px;
}

.about-links li {line-height: 30px;}
.about-links li:hover, .about-links li:hover a { color: #666; }
.about-links .love:hover i { color: #e74c3c; }
.about-links .prospectus:hover i { color: #f39c12; }
.about-links .cypher:hover i { color: #16a085; }
.about-links .lab:hover i { color: #8e44ad; }

.ng-aside .modal-content {
  min-width: 320px;
}

.modal-title{
  font-family: Prisma!important;
  font-weight: 400;
  color: white;
  font-size: xx-large;
}

.modal-title>i{
  padding-bottom:10px;
  font-size: xx-large;
}

.modal-footer{
margin-top: 0px!important;
}

.modal-body{
    position: relative;
    width:20px;
    height:80px;
    padding: 15px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;;
    box-sizing: border-box;
    background: red;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;


}

@media screen and (min-width: 768px){

  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    /*margin-top: 30px!important;*/
}
}

@media (max-width: 768px){
  .font-80px{
  font-size: 40px;
  }

  .font-60px{
    font-size: 50px;
  }

  .font-40px{
    font-size: 30px;
  }
  .font-30px{
    font-size: 20px;
  }

  .font-20px{
    font-size: 15px;
  }

}

#modal-body {
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

.modal-body:hover {
    width: 320px;
    opacity: 0.3;

}

#roll{
  opacity: 1.0;
}
#roll:hover{
  opacity: 1.0;
}
.modal-body.div{
  font-color:white!important;
  color:white!important;
}
.modal-body.div:hover{
  font-color:red!important;
  color:red;
}
.ng-aside .modal-dialog .modal-content{

  background-color: #595959!important;
}

.fixed{
  position: fixed!important;
}

/*.light-blue{
  background-color: #99ccff!important;
}
.tirquise-light{
  background-color:  #66ffff!important;
}

.light-green{
  background-color: #99ff99!important;
}

.light-yellow{
  background-color:  #ffff99!important;
}

.light-red{
  background-color:  #ff9999!important;
}

.light-pink{
  background-color: #ff99ff!important;
}*/
.black-grey{
  background-color: #1e1e15!important;
}
.grey{
  background-color: #595959!important;
}

.white{
  color: #ffffff!important;
}

.prisma{
  font-family: Prisma!important;
  font-weight: 400;
  
}
.font-80px{
  font-size: 80px;
}

.font-60px{
  font-size: 60px;
}

.font-40px{
  font-size: 40px;
}
.font-30px{
  font-size: 30px;
}

.font-20px{
  font-size: 20px;
}

.font-white{
  font-color: white!important;
  color: white!important;
}
.overlay
{ 
  position: absolute;
}

.btn-pink{
  margin-top: 20px;
  color: #ff99ff;
  font-weight: 600!important;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
/*added from janux*/

.purple, .purple [class="box-header"], .purple.box, .slider.purple .ui-slider-range, .progress.purple .ui-progressbar-value, .sliderVertical.purple .ui-slider-range, .progressSlim.purple .ui-progressbar-value {
    background: #9C27B0 !important;
    border-color: #9C27B0 !important;
    color: #fff;
}

body {
    background: #F5F5F5;
    color: #333;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.green, .green [class="box-header"], .green.box, .slider.green .ui-slider-range, .progress.green .ui-progressbar-value, .sliderVertical.green .ui-slider-range, .progressSlim.green .ui-progressbar-value, .label-success, .badge-success {
    background: #9FE64C!important;
    border-color: #9FE64C !important;
    color: #fff;
}
.darkgreen, .darkgreen [class="box-header"], .darkgreen.box, .slider.darkgreen .ui-slider-range, .progress.darkgreen .ui-progressbar-value, .sliderVertical.darkgreen .ui-slider-range, .progressSlim.darkgreen .ui-progressbar-value, .label-success, .badge-success {
    background: #8BC34A !important;
    border-color: #8BC34A !important;
    color: #fff;
}

.red, .red [class="box-header"], .red.box, .slider.red .ui-slider-range, .progress.red .ui-progressbar-value, .sliderVertical.red .ui-slider-range, .progressSlim.red .ui-progressbar-value, .label-important, .badge-important {
    background: #E91E63 !important;
    border-color: #E91E63 !important;
    color: #fff;
}

.darkred, .darkred [class="box-header"], .darkred.box, .slider.darkred .ui-slider-range, .progress.darkred .ui-progressbar-value, .sliderVertical.darkred .ui-slider-range, .progressSlim.darkred .ui-progressbar-value, .label-important, .badge-important {
    background: #CC1E59  !important;
    border-color: #CC1E59  !important;
    color: #fff;
}


.statbox {
    cursor: pointer;
    height: 150px;
    position: relative;
    margin: 10px 10px 10px 10px;
}

.statbox1 {
    cursor: pointer;
    height: 320px;
    position: relative;
    margin: 10px 10px 10px 10px;
}

.blue, .blue [class="box-header"], .blue.box, .slider.blue .ui-slider-range, .progress.blue .ui-progressbar-value, .sliderVertical.blue .ui-slider-range, .progressSlim.blue .ui-progressbar-value, .label-info, .badge-info {
    background: #578EBE !important;
    border-color: #578EBE !important;
    color: #fff;
}

.yellow, .yellow [class="box-header"], .yellow.box, .slider.yellow .ui-slider-range, .progress.yellow .ui-progressbar-value, .sliderVertical.yellow .ui-slider-range, .progressSlim.yellow .ui-progressbar-value, .label-warning, .badge-warning {
    background: #FFC107 !important;
    border-color: #FFC107 !important;
    color: #fff;
}

.darkyellow, .darkyellow [class="box-header"], .darkyellow.box, .slider.darkyellow .ui-slider-range, .progress.darkyellow .ui-progressbar-value, .sliderVertical.darkyellow .ui-slider-range, .progressSlim.darkyellow .ui-progressbar-value, .label-warning, .badge-warning {
    background: #FF9800 !important;
    border-color: #FF9800  !important;
    color: #fff;
}


.panel {
    padding: 0px;
    margin:5px;

}
.panel-heading{
    padding-bottom: 0px;
    padding-top: 15px;
}
.panel-medium{
    background: #FFC107!important;
    border-color: #FFC107 !important;
    color: #fff;
}

.panel-high{
    background: #E91E63  !important;
    border-color:#E91E63  !important;
    color: #fff;
}
.panel-low{
    background: #9FE64C !important;
    border-color: #9FE64C !important;
    color: #fff;
}

.panel-undefined{
    background: #999999 !important;
    border-color: #999999!important;
    color: #fff;
}
/*added from calender*/
/*** Docs ***/
body {
  margin-top: 40px;
}
section {
  padding-top: 40px;
}
.hero-unit {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031;
  background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
  background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.hero-unit .btn, .pagination-centered .btn {
  float: none;
  font-weight: normal;
}
.hero-unit p {
  margin: 1em 0;
}
.bs-docs-social {
  margin-top: 1em;
  padding: 15px 0;
  text-align: center;
  background-color: rgba(245,245,245,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(221,221,221,0.3);
}
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}

/* Allows .modal-backdrop to remain on the page without blocking */
.modal-backdrop {
  overflow: hidden;
  height: 0;
  -webkit-transition: opacity 0.15s linear, height 0 0.2s linear;
  -moz-transition: opacity 0.15s linear, height 0 0.2s linear;
  -ms-transition: opacity 0.15s linear, height 0 0.2s linear;
  -o-transition: opacity 0.15s linear, height 0 0.2s linear;
  transition: opacity 0.15s linear, height 0 0.2s linear;
}
.modal-backdrop.in {
  height: 100%;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/*** Calendar ***/

.calAlert{
  width: 595px; float: right; margin-bottom: 5px;
}

.calXBtn{
  float: right; margin-top: -5px; margin-right: -5px;
}

.calWell{
  float: left; margin-bottom: 40px;
}

.fc-event.openSesame .fc-event-skin{
  background-color: rgb(229, 229, 11);
  color: black;
}

.fc-event.customFeed .fc-event-skin{
  background-color: rgb(132, 222, 175);
  color: black;
}

.calTools{
  margin-bottom: 10px;
}

/*sidebar*/
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #989393;
}
.nav{
      padding-right: 0px;
}